<<<<<<< HEAD
h1 {
  font-family: 'Lexend', sans-serif;
  font-weight: 600;
  font-size: 2.5rem;
  color: #5409DA;
  margin-top: 80px;
  font-size: 1.8rem;
  
}

.form-container {

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-section {
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f9f9f9;
}

label {
  display: block;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  font-weight: bold;
}

select, input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 1rem;
}
=======
>>>>>>> 1a79efaa16d3149a09e0d3f7265de0570580a65c
